In [25]:
import pandas as pd
import requests
import json

In [26]:
url='https://datausa.io/api/data?drilldowns=Nation&measures=Population'

response=requests.get(url)
resp = response.json()

In [27]:
df = pd.read_json(json.dumps(resp['data']))
df['Year'].astype(int)

/var/folders/73/sx2ckpk51wq6mwnd_yyl1q7m0000gn/T/ipykernel_39049/3626867006.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json.dumps(resp['data']))

0    2021
1    2020
2    2019
3    2018
4    2017
5    2016
6    2015
7    2014
8    2013
Name: Year, dtype: int64

In [28]:
print(df.loc[((df['Year']>=2013) & (df['Year']<=2018)), 'Population'].mean())
print(df.loc[((df['Year']>=2013) & (df['Year']<=2018)), 'Population'].std())
print(df)

317437383.0
4257089.5415293295
  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2021  2021   329725481  united-states
1   01000US  United States     2020  2020   326569308  united-states
2   01000US  United States     2019  2019   324697795  united-states
3   01000US  United States     2018  2018   322903030  united-states
4   01000US  United States     2017  2017   321004407  united-states
5   01000US  United States     2016  2016   318558162  united-states
6   01000US  United States     2015  2015   316515021  united-states
7   01000US  United States     2014  2014   314107084  united-states
8   01000US  United States     2013  2013   311536594  united-states

In [29]:
Series_data='https://zombalifeiscool.s3.amazonaws.com/pr.data.0.Current'
series = pd.read_csv(Series_data, delimiter="\t")
series.rename(columns={"series_id        ":"series_id","       value":'value'},inplace=True)
temp_series=series

In [30]:
series = series.groupby(["series_id", "year"], as_index=False)["value"].agg("sum")
series.sort_values(by='value',ascending=False,inplace=True)
series.drop_duplicates(subset=['series_id'],inplace=True)
series.sort_values(by='series_id',inplace=True)
print(series)

              series_id  year    value
27    PRS30006011        2022   21.400
56    PRS30006012        2022   17.600
61    PRS30006013        1998  733.348
102   PRS30006021        2010   17.700
131   PRS30006022        2010   12.500
...                 ...   ...      ...
7950  PRS88003192        2002  285.200
7999  PRS88003193        2022  701.185
8028  PRS88003201        2022   46.600
8057  PRS88003202        2022   39.700
8086  PRS88003203        2022  634.534

[282 rows x 3 columns]

In [32]:
temp_series = temp_series.loc[temp_series["series_id"].str.contains("PRS30006032", case=False)]
temp_series = temp_series[temp_series["period"].str.contains("Q01", case=False)]

population_temp=df["Population"].astype(int)
df["Year"] = df["Year"].astype(int)

result = pd.merge(temp_series, df, left_on="year", right_on="Year", how="left")
result[["series_id", "year", "period", "value", "Population"]]

print(result)

            series_id  year period  value footnote_codes ID Nation  \
0   PRS30006032        1995    Q01    0.0            NaN       NaN
1   PRS30006032        1996    Q01   -4.4            NaN       NaN
2   PRS30006032        1997    Q01    2.7            NaN       NaN
3   PRS30006032        1998    Q01    1.0            NaN       NaN
4   PRS30006032        1999    Q01   -4.1            NaN       NaN
5   PRS30006032        2000    Q01    0.1            NaN       NaN
6   PRS30006032        2001    Q01   -6.0            NaN       NaN
7   PRS30006032        2002    Q01   -7.0            NaN       NaN
8   PRS30006032        2003    Q01   -5.7            NaN       NaN
9   PRS30006032        2004    Q01    2.4            NaN       NaN
10  PRS30006032        2005    Q01   -1.1            NaN       NaN
11  PRS30006032        2006    Q01    2.8            NaN       NaN
12  PRS30006032        2007    Q01   -0.3            NaN       NaN
13  PRS30006032        2008    Q01   -3.4            NaN       NaN
14  PRS30006032        2009    Q01  -20.7            NaN       NaN
15  PRS30006032        2010    Q01    3.5            NaN       NaN
16  PRS30006032        2011    Q01    1.6            NaN       NaN
17  PRS30006032        2012    Q01    3.0            NaN       NaN
18  PRS30006032        2013    Q01    1.2            NaN   01000US
19  PRS30006032        2014    Q01    0.0            NaN   01000US
20  PRS30006032        2015    Q01   -1.7            NaN   01000US
21  PRS30006032        2016    Q01   -1.8            NaN   01000US
22  PRS30006032        2017    Q01    1.0            NaN   01000US
23  PRS30006032        2018    Q01   -0.1            NaN   01000US
24  PRS30006032        2019    Q01   -2.4            NaN   01000US
25  PRS30006032        2020    Q01   -6.5            NaN   01000US
26  PRS30006032        2021    Q01    1.3            NaN   01000US
27  PRS30006032        2022    Q01    7.3            NaN       NaN
28  PRS30006032        2023    Q01    1.5            NaN       NaN

           Nation  ID Year    Year   Population    Slug Nation
0             NaN      NaN     NaN          NaN            NaN
1             NaN      NaN     NaN          NaN            NaN
2             NaN      NaN     NaN          NaN            NaN
3             NaN      NaN     NaN          NaN            NaN
4             NaN      NaN     NaN          NaN            NaN
5             NaN      NaN     NaN          NaN            NaN
6             NaN      NaN     NaN          NaN            NaN
7             NaN      NaN     NaN          NaN            NaN
8             NaN      NaN     NaN          NaN            NaN
9             NaN      NaN     NaN          NaN            NaN
10            NaN      NaN     NaN          NaN            NaN
11            NaN      NaN     NaN          NaN            NaN
12            NaN      NaN     NaN          NaN            NaN
13            NaN      NaN     NaN          NaN            NaN
14            NaN      NaN     NaN          NaN            NaN
15            NaN      NaN     NaN          NaN            NaN
16            NaN      NaN     NaN          NaN            NaN
17            NaN      NaN     NaN          NaN            NaN
18  United States   2013.0  2013.0  311536594.0  united-states
19  United States   2014.0  2014.0  314107084.0  united-states
20  United States   2015.0  2015.0  316515021.0  united-states
21  United States   2016.0  2016.0  318558162.0  united-states
22  United States   2017.0  2017.0  321004407.0  united-states
23  United States   2018.0  2018.0  322903030.0  united-states
24  United States   2019.0  2019.0  324697795.0  united-states
25  United States   2020.0  2020.0  326569308.0  united-states
26  United States   2021.0  2021.0  329725481.0  united-states
27            NaN      NaN     NaN          NaN            NaN
28            NaN      NaN     NaN          NaN            NaN